
.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

/* Styling for the task text */
.task-item span {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    flex-grow: 1;
    margin-right: 10px;
}

/* Line-through for completed tasks */
.task-item.completed span {
    text-decoration: line-through;
    color: #999;
}

.edit-button {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-button {
    background-color: #008CBA; /* Blue */
    color: white;
    border: none;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}
